<h3>Basic Structure</h3>
<ul>
  <li>Each personnel has a card with basic information: Name,job title </li>
  <li>Each card has several documents with : start date, end date, status  </li>
</ul>

<p>
<h3>Operations</h3>
<ul>
  <li>add a personnel card for new comers</li>
  <li>search a personnel card to:</li>
   <ul>
      <li>view and update basic information</li>
      <li>close the card. Personnel is not working anymore</li>
      <li>view and process its documents:
        <ul>
          <li>add, update, delete document</li>
          <li>update document status:
            <ul>
              <li> working : document is nearly due, so started working on the document. </li>
              <li> close: will not work on the document. will expire</li>
              <li> processed: document renewal process completed. so add a new one</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <li>
      Reports
      <ul>
        <li>
          Personnel with document due dates:
           past
           due this week
           due this month
        </li>
        <li>
          Active Personnel list
        </li>
      </ul>
    </li>
</ul>
</p>
