<footer class="footer">
  <small>
    dTrac - Personnel Document Tracker
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>

    </ul>
  </nav>
</footer>
